@model CategoryCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Create Category</h6>
        <a asp-action="Index" asp-controller="Category" class="btn btn-outline-primary ml-auto">Return List</a>
    </div>

    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name">Name*</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-small text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

