@model UniqloMVC1.ViewModels.ResetPassword.ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}

<h2>Şifrəni Sıfırlayın</h2>
<form method="post" action="/ResetPassword/ResetPassword">
    <div>
        <label for="email">E-poçt:</label>
        <input type="email" id="email" name="Email" required />
    </div>
    <div>
        <label for="code">Kod:</label>
        <input type="text" id="code" name="Code" required />
    </div>
    <div>
        <label for="newPassword">Yeni Şifrə:</label>
        <input type="password" id="newPassword" name="NewPassword" required />
    </div>
    <button type="submit">Şifrəni Sıfırla</button>
</form>

